extends ../layout

block content
    div(class='container') 
      section#posts
        each post in posts
          article(class='lac-post-summary')
            a(href='/post/view/#{post._id}')
              h2= post.title
            h3= post.date
            p(class='lac-post-body--shortened')= post.body
            p(class='hidden lac-post-id')= post._id
