extends ../layout

block content
    div(class='container') 
      section#posts
        article(class='lac-post-full')
          a(href='/post/view/#{post._id}')
            h2= post.title
          h3= nicedate
          div(class='lac-post-body-full')!= md(post.body)
          p(class='hidden lac-post-id')= post._id
